* {
  padding: 0px;
  margin: 0px;
  border-box: box---;
}

#body {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

#left {
  inset: 0px;
  height: 100%;
  width: 18%;
  background-color: rgb(5, 74, 125);
}

#left-lists {
  list-style-type: none;
  padding-left: 40px;

  text-align: start;
  color: white;
}

.list {
  display: flex;
  justify-items: center;
  margin-bottom: 18px;
}

.material-symbols-outlined {
  margin-right: 20px;
}

#header {
  width: 100vh;
  height: 10%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

#header-content {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
}

#search-bar {
  display: flex;
  justify-items: center;
  margin-left: 20px;
  margin-top: 24px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

#text-button {
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 8px;
  border: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#search-button {
  border-radius: 8px;
  border: none;
}

.button {
  background-color: rgb(2, 167, 137);
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-style: none;
  border-radius: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.t-heading {
  background-color: rgb(5, 74, 125);
  color: white;
  padding-right: 5px;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 8px;
}

.t-data {
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.t-data-button {
  display: flex;
  flex-direction: row;
  width: 8px;
}

.table-button {
  width: 24px;
  height: 24px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: white;
  border-style: solid;
  border: 2px solid rgb(208, 214, 222);
  margin-bottom: 6px;
}
